<%- include('top')  %> 
    <div class="jumbo">
        <h1> <%= rows.first_name  %>  </h1>
       
    </div>
    <main>
        
        <p>Below is the staff member details.</p>

    </main>

</body>
</html>